@{
    ViewData["Title"] = "Vehículos";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/vehiculos.js"></script>
}
<h1>Vehículos</h1>
<lnk-lugar></lnk-lugar>

<lst-vehiculos params="ciudadId: @ViewBag.CiudadId"></lst-vehiculos>
