@{
    ViewData["Title"] = "Varios";
}

@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/varios.js"></script>
}

<h1>Empleos</h1>
<lnk-lugar></lnk-lugar>
<lst-varios params="ciudadId: @ViewBag.CiudadId"></lst-varios>