<form data-bind="submit: $data.onSave.bind($data)" novalidate>

    <div class="form-row">
        <div class="col-md-12 mb-3">

            <label>Estado</label>
            <select class="form-control" data-bind="options: estados,
                       optionsText: 'text',
                       optionsValue: 'value',
                       value: estado.value,
                       optionsCaption: 'Estado...', 
                       css: { 
                           'is-invalid': estado.hasError(),
                           'is-valid': !estado.hasError() && estado.wasValidated() 
                       }"></select>

            <div class="invalid-feedback">
                <!-- ko foreach: estado.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>

        </div>
        <div class="col-md-12 mb-3">

            <label>Ciudad</label>
            <select class="form-control" data-bind="options: ciudades,
                       optionsText: 'text',
                       optionsValue: 'value',
                       value: ciudad.value,
                       optionsCaption: 'Ciudad...', 
                       css: { 
                           'is-invalid': ciudad.hasError(),
                           'is-valid': !ciudad.hasError() && ciudad.wasValidated() 
                       }"></select>

            <div class="invalid-feedback">
                <!-- ko foreach: ciudad.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="text-right">
        <button class="btn btn-secondary" data-bind="click: $data.indexRedirect.bind($data)"
            type="button">Cancelar</button>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</form>