<form data-bind="submit: $data.onSave.bind($data)" novalidate>

    <div class="form-row">
        <div class="col-md-12 mb-3">

            <label>Estado</label>
            <select class="form-control" data-bind="options: estados,
                       optionsText: 'nombre',
                       optionsValue: 'id',
                       value: estado.value,
                       optionsCaption: 'Estado...', 
                       css: { 
                           'is-invalid': estado.hasError(),
                           'is-valid': !estado.hasError() && estado.wasValidated() 
                       }"></select>

            <div class="invalid-feedback">
                <!-- ko foreach: estado.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>

        </div>
        <div class="col-md-12 mb-3">

            <label>Ciudad</label>
            <select class="form-control" data-bind="options: ciudades,
                       optionsText: 'nombre',
                       optionsValue: 'id',
                       value: ciudad.value,
                       optionsCaption: 'Ciudad...', 
                       css: { 
                           'is-invalid': ciudad.hasError(),
                           'is-valid': !ciudad.hasError() && ciudad.wasValidated() 
                       }"></select>

            <div class="invalid-feedback">
                <!-- ko foreach: ciudad.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </div>

        <div class="alert alert-warning" role="alert">
            <p>
                Si el Estado o Ciudad en la que desea anunciar no está disponible,
                favor de enviar un correo electrónico a la direccion: correo.rodrigo@gmail.com,
                solicitando se agregue dicho lugar.
            </p>
            <p>
                Por ahora sólo se anuncia en México, si usted desea una página similar a ésta
                para otro país, solicitarlo al correo mencionado anteriormente.
            </p>
        </div>

        <div class="col-md-12 mb-3">

            <label>Tipo de anuncio</label>
            <select class="form-control" data-bind="options: tipos,
                       optionsText: 'desc',
                       optionsValue: 'tipo',
                       value: tipo.value,
                       optionsCaption: 'Tipo de anuncio...', 
                       css: { 
                           'is-invalid': tipo.hasError(),
                           'is-valid': !tipo.hasError() && tipo.wasValidated() 
                       }"></select>

            <div class="invalid-feedback">
                <!-- ko foreach: tipo.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </div>

        <h2 data-bind="text: tipoDesc"></h2>

        <!-- ko if: tipo.value() === 5 -->
        <div class="col-md-12 mb-3">
            <label>Marca</label>
            <input type="text" class="form-control" maxlength="50" data-bind="
                                css: { 
                                    'is-invalid': marca.hasError(),
                                    'is-valid': !marca.hasError() && marca.wasValidated() 
                                },
                                textInput: marca.value ">
            <div class="invalid-feedback">
                <!-- ko foreach: marca.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label>Modelo</label>
            <input type="text" class="form-control" maxlength="50" data-bind="
                                css: { 
                                    'is-invalid': modelo.hasError(),
                                    'is-valid': !modelo.hasError() && modelo.wasValidated() 
                                },
                                textInput: modelo.value ">
            <div class="invalid-feedback">
                <!-- ko foreach: modelo.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label>Año (numérico)</label>
            <input type="text" class="form-control" maxlength="4" data-bind="
                                css: { 
                                    'is-invalid': año.hasError(),
                                    'is-valid': !año.hasError() && año.wasValidated() 
                                },
                                textInput: año.value ">
            <div class="invalid-feedback">
                <!-- ko foreach: año.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->

        <div class="col-md-12 mb-3">
            <label>Anuncio</label>
            <label data-bind="text: letrasRestantes() + ' letras restantes'"></label>
            <textarea class="form-control" maxlength="500" rows="5" data-bind="
                css: { 
                    'is-invalid': descripcion.hasError(),
                    'is-valid': !descripcion.hasError() && descripcion.wasValidated() 
                },
                textInput: descripcion.value"></textarea>
            <div class="invalid-feedback">
                <!-- ko foreach: descripcion.errors -->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="text-right">
        <button class="btn btn-secondary" data-bind="click: $data.indexRedirect.bind($data)"
            type="button">Cancelar</button>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</form>