<div class="container" data-bind="if:  ciudadId() > 0">
    <search-field params="model: searchModel"></search-field>

    <h2 data-bind="if: list().length === 0">No se encontraron resultados</h2>
    <p data-bind="if: list().length === 0">Seleccione otra ciudad o busque con diferentes palabras</p>

    <!-- ko foreach: list -->
    <!-- ko template: { name: $parent.templateName(), data: $data } -->
    <!-- /ko -->
    <hr />
    <!-- /ko -->

    <pagination params="model: pagination"></pagination>
</div>

<script type="text/html" id="default-row-template">
    <div class="row">
        <div class="col-md-12">
            <p data-bind="text: descripcion">

            </p>
        </div>
    </div>
</script>



<script type="text/html" id="vehiculo-row-template">
    <div class="row">
        <div class="col-md-12">
            <p data-bind="text: descripcion">

            </p>
        </div>
    </div>
</script>