@{
    ViewData["Title"] = "Empleos";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/empleos.js"></script>
}

<h1>Empleos</h1>
<lnk-lugar></lnk-lugar>

<lst-empleos params="ciudadId: @ViewBag.CiudadId"></lst-empleos>
