@{
    ViewData["Title"] = "Inmuebles";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/inmuebles.js"></script>
}

<h1>Inmuebles</h1>
<lnk-lugar></lnk-lugar>

<lst-inmuebles params="ciudadId: @ViewBag.CiudadId"></lst-inmuebles>
