@{
    ViewData["Title"] = "Inicio";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Anuncios clasificados</h1>     
      <p>Anuncie gratis todo tipo de productos, bienes raíces y servicios.</p> 
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2>Empleos</h2>        
        <p>Solicite empleados para su negocio.</p>
        <p><a class="btn btn-secondary" asp-controller="Home" asp-action="Empleos" role="button">Agregar Empleo &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>Inmuebles</h2>
        <p>Venta o renta de casas, departamentos, terrenos, huertas, etc.</p>
        <p><a class="btn btn-secondary" asp-controller="Home" asp-action="Inmuebles" role="button">Anunciar Propiedades &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>Vehículos</h2>
        <p>Venda su auto, moto, tractor, camión, etc.</p>
        <p><a class="btn btn-secondary"  asp-controller="Home" asp-action="Vehiculos" role="button">Anunciar Vehículos &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>Varios</h2>
        <p>Compre o venda lo que se le antoje.</p>
        <p><a class="btn btn-secondary" asp-controller="Home" asp-action="Varios" role="button">Anuncios Varios &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
