@{
    ViewData["Title"] = "Lugar";
}
@section Scripts {
    <script type="text/javascript" src="~/js/shared.js"></script>
    <script type="text/javascript" src="~/js/lugares.js"></script>
}

<h2>Seleccionar Lugar</h2>

<frm-lugar></frm-lugar>
