@{
    ViewData["Title"] = "Lugar";
}
<form class="form-inline my-2 my-lg-0">
    <select value="@ViewBag.Estado" class="form-control mr-sm-2" placeholder="Buscar">                                                        
        <option value="michoacan" > Michoacán de Ocampo</option>
        </select>
    <select value = "@ViewBag.Ciudad" class="form-control mr-sm-2" placeholder="Buscar">                                                        
        <option value="uruapan"> Uruapan </option >
        <option value="ziracuaretiro">Ziracuaretiro</option>
    </select>
</form>